<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Radio</title>
  <link rel="stylesheet" href="radio.css">
</head>
<body>
  <label class="radio">
    <span class="radio__input">
      <input type="radio" name="radio">
      <span class="radio__control"></span>
    </span>
    <span class="radio__label">Radio11111111111111111 really long radio     value text</span>
  </label>

  <label class="radio">
    <span class="radio__input">
      <input type="radio" name="radio">
      <span class="radio__control"></span>
    </span>
    <span class="radio__label">Radio 2</span>
  </label>
</body>
</html>
